body {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0;
	margin: 0;
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.image {
	box-sizing: border-box;
	height: max(700px, 100vh);
	width: 40vw;
	background-image: url("images/beach.jpg");
	background-attachment: fixed;
	background-size: 2500px auto;
	padding-top: 12vh;
}

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #F6F7F8;
	height: 120px;
	width: 100%;
	backdrop-filter: brightness(70%);
}

.logo {
	height: 80px;
	width: auto;
	margin-right: 50px;
	color: white;
}

.primary-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: max(700px, 100vh);
	width: 60vw;
	background-color: rgb(15, 23, 31);
	color: #F6F7F8;
	margin: 0;
}

.form-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
  background-color: rgb(27, 41, 55);
  border: 1px solid rgb(8, 12, 17);
  border-radius: 3px;
	gap: clamp(20px, 4vh, 100px);
  width: 100%;
  margin: 40px 0;
  padding: 30px;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 30px;
}

.form-input-container {
	display: flex;
	flex-direction: column;
	gap: clamp(20px, 3vh, 30px);
}
.form-row {
	display: flex;
	gap: clamp(5px, 4vw, 150px);
}

.form-item {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

input {
	font-size: 16px;
	color: #F6F7F8;
	width: 250px;
	height: 25px;
	background-color: rgb(35, 53, 71);
	border: 1px solid rgb(8, 12, 17);
	border-radius: 4px;
}

input:focus {
	outline: none;
	background-color: rgb(47, 72, 96);
	box-shadow: 10px 9px 18px -11px rgba(0,0,0,0.75);
	-webkit-box-shadow: 10px 9px 18px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 18px -11px rgba(0,0,0,0.75);
}

input:user-invalid {
	background-color: rgb(236, 131, 97);
}

p {
	font-size: 24px;
	width: clamp(100px, 70%, 1800px);
	padding-left: 30px;
}

.slogan {
	font-size: 24px;
}

.login {
	font-size: 24px;
}

button {
	color: #F6F7F8;
	font-weight: bold;
	background-color: transparent;
	border: 2px solid rgb(236, 131, 97);
	border-radius: 4px;
	font-size: 20px;
	height: 50px;
	width: 240px;
	margin-left: 30px;
}

button:hover {
	border-width: 3px;
}

button:active {
	border-width: 4px;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

a {
	color: hotpink;
}

a:hover {
	font-weight: bold;
}

a:active {
	color: rgb(201, 85, 143);
}

.error {
	color: rgb(236, 131, 97);
}

.input-error {
	background-color: rgb(236, 131, 97);
	border: 2px solid rgb(166, 92, 67);
}